/.vs/ProjectEvaluation/tindog.metadata.v7.bin
/.vs/ProjectEvaluation/tindog.projects.v7.bin
/.vs/Tindog/DesignTimeBuild/.dtbcache.v2
/.vs/Tindog/FileContentIndex/7ababeee-f21b-4301-9d18-bf209f96df08.vsidx
/.vs/Tindog/config/applicationhost.config
/.vs/Tindog/v17/.futdcache.v2
/.vs/Tindog/v17/.suo
/.vs/Tindog/v17/DocumentLayout.json
/*.user
/bin/Debug/net7.0/BouncyCastle.Cryptography.dll
/bin/Debug/net7.0/Google.Protobuf.dll
/bin/Debug/net7.0/K4os.Compression.LZ4.Streams.dll
/bin/Debug/net7.0/K4os.Compression.LZ4.dll
/bin/Debug/net7.0/K4os.Hash.xxHash.dll
/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net7.0/Microsoft.OpenApi.dll
/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net7.0/MySql.Data.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net7.0/System.Drawing.Common.dll
/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net7.0/System.Security.Permissions.dll
/bin/Debug/net7.0/System.Windows.Extensions.dll
/bin/Debug/net7.0/TindogApis.deps.json
/bin/Debug/net7.0/TindogApis.dll
/bin/Debug/net7.0/TindogApis.exe
/bin/Debug/net7.0/TindogApis.pdb
/bin/Debug/net7.0/TindogApis.runtimeconfig.json
/bin/Debug/net7.0/TindogService.deps.json
/bin/Debug/net7.0/TindogService.dll
/bin/Debug/net7.0/TindogService.exe
/bin/Debug/net7.0/TindogService.pdb
/bin/Debug/net7.0/TindogService.runtimeconfig.json
/bin/Debug/net7.0/WebApplication1.deps.json
/bin/Debug/net7.0/WebApplication1.dll
/bin/Debug/net7.0/WebApplication1.exe
/bin/Debug/net7.0/WebApplication1.pdb
/bin/Debug/net7.0/WebApplication1.runtimeconfig.json
/bin/Debug/net7.0/ZstdSharp.dll
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/bin/Debug/net7.0/runtimes/win-x64/native/comerr64.dll
/bin/Debug/net7.0/runtimes/win-x64/native/gssapi64.dll
/bin/Debug/net7.0/runtimes/win-x64/native/k5sprt64.dll
/bin/Debug/net7.0/runtimes/win-x64/native/krb5_64.dll
/bin/Debug/net7.0/runtimes/win-x64/native/krbcc64.dll
/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/TindogApis.AssemblyInfo.cs
/obj/Debug/net7.0/TindogApis.AssemblyInfoInputs.cache
/obj/Debug/net7.0/TindogApis.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/TindogApis.GlobalUsings.g.cs
/obj/Debug/net7.0/TindogApis.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/TindogApis.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/TindogApis.assets.cache
/obj/Debug/net7.0/TindogApis.csproj.AssemblyReference.cache
/obj/Debug/net7.0/TindogApis.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/TindogApis.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/TindogApis.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/TindogApis.dll
/obj/Debug/net7.0/TindogApis.genruntimeconfig.cache
/obj/Debug/net7.0/TindogApis.pdb
/obj/Debug/net7.0/TindogSe.CF9986C5.Up2Date
/obj/Debug/net7.0/TindogService.AssemblyInfo.cs
/obj/Debug/net7.0/TindogService.AssemblyInfoInputs.cache
/obj/Debug/net7.0/TindogService.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/TindogService.GlobalUsings.g.cs
/obj/Debug/net7.0/TindogService.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/TindogService.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/TindogService.assets.cache
/obj/Debug/net7.0/TindogService.csproj.AssemblyReference.cache
/obj/Debug/net7.0/TindogService.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/TindogService.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/TindogService.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/TindogService.dll
/obj/Debug/net7.0/TindogService.genruntimeconfig.cache
/obj/Debug/net7.0/TindogService.pdb
/obj/Debug/net7.0/WebAppli.7D14BD69.Up2Date
/obj/Debug/net7.0/WebApplication1.AssemblyInfo.cs
/obj/Debug/net7.0/WebApplication1.AssemblyInfoInputs.cache
/obj/Debug/net7.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/WebApplication1.GlobalUsings.g.cs
/obj/Debug/net7.0/WebApplication1.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/WebApplication1.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/WebApplication1.assets.cache
/obj/Debug/net7.0/WebApplication1.csproj.AssemblyReference.cache
/obj/Debug/net7.0/WebApplication1.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/WebApplication1.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/WebApplication1.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/WebApplication1.dll
/obj/Debug/net7.0/WebApplication1.genruntimeconfig.cache
/obj/Debug/net7.0/WebApplication1.pdb
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/ref/TindogApis.dll
/obj/Debug/net7.0/ref/TindogService.dll
/obj/Debug/net7.0/ref/WebApplication1.dll
/obj/Debug/net7.0/refint/TindogApis.dll
/obj/Debug/net7.0/refint/TindogService.dll
/obj/Debug/net7.0/refint/WebApplication1.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets/msbuild.build.TindogApis.props
/obj/Debug/net7.0/staticwebassets/msbuild.build.TindogService.props
/obj/Debug/net7.0/staticwebassets/msbuild.build.WebApplication1.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.TindogApis.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.TindogService.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication1.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.TindogApis.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.TindogService.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WebApplication1.props
/obj/TindogApis.csproj.nuget.dgspec.json
/obj/TindogApis.csproj.nuget.g.props
/obj/TindogApis.csproj.nuget.g.targets
/obj/TindogService.csproj.nuget.dgspec.json
/obj/TindogService.csproj.nuget.g.props
/obj/TindogService.csproj.nuget.g.targets
/obj/WebApplication1.csproj.nuget.dgspec.json
/obj/WebApplication1.csproj.nuget.g.props
/obj/WebApplication1.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/Tindog/FileContentIndex/13578779-c52e-4fdc-a0d3-d6a9370740c4.vsidx
/.vs/Tindog/FileContentIndex/5c3eb614-6b0e-41d8-89b5-48c3f0683195.vsidx
/.vs/Tindog/FileContentIndex/7c798773-18f2-4a39-a37d-f0250660c2e8.vsidx
/.vs/Tindog/FileContentIndex/ab5f9580-260d-45f1-9a94-3aa4089cdd85.vsidx
/.vs/Tindog/FileContentIndex/e5e6ed30-53db-4851-ac0c-966a9be0e165.vsidx
/.vs/Tindog/FileContentIndex/4864ea4e-736c-4ee8-97de-12c3eb5dc450.vsidx
/obj/Debug/net7.0/TindogService.sourcelink.json
/.vs/Tindog/FileContentIndex/1da17228-cbd2-4d80-af36-764fd29d3430.vsidx
/.vs/Tindog/FileContentIndex/d66cf770-4681-4b5a-8d7d-18b707adc4f2.vsidx
/.vs/Tindog/FileContentIndex/218b562d-7f36-45e4-a331-bd4fe5d5af03.vsidx
*.vsidx
*.wsuo
/.vs/APIs/v17/DocumentLayout.json
